<!DOCTYPE html>

<!-- <div *ngIf = "clicked"> -->
  <div class="entry" id="screen">
    <!-- <p>{{entryService.preview|json}}</p> -->
    <a href="{{entryService.preview.url}}"target="_blank"> "{{entryService.preview.titleFile}}"</a>
    <br>
    <a href="{{entryService.preview.url}}"target="_blank"> "{{entryService.preview.titleComment}}"</a>
    <p>{{entryService.preview.comment}}</p>

  <img src={{entryService.preview.image}}>

  <!-- <iframe src="{{entryService.entry.url}}" height="400" width="400"></iframe>
 --> 

   </div>
<!-- </div> -->