/*Elements*/



/*Classes*/

.my-border {
  border: 1px solid black;

}



/*IDs*/

#later{
background-color: red;
color: white;
width: 130px;

border: 1px brown solid;
margin-left: auto;
margin-right: auto;
}

#my-entries, #my-lists {
  height:300px;
  width: auto;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
}

#takeALook {
  margin-left: auto;
  margin-right: auto;
}
#screen {
  height:300px;
  width: auto;
}