<!DOCTYPE html>
<h1> Later... </h1>
<div *ngIf="!sessionService.user">

  <app-login-form></app-login-form>
  <h2>You're not logged in!</h2>
</div>

<div *ngIf="sessionService.user">

  <button (click)="sessionService.logout().subscribe()"> Logout </button>

  <div style="text-align:center">


  </div>

  <div class="row dashboard-main-content-wrapper">
    <div class="col-4 my-border">
      
      <app-add-entry></app-add-entry>
      <app-add-list></app-add-list>

    </div>

    <div class="col-4 my-border">
      <h2>YOUR LISTS</h2>

      
      <div id="my-lists">

        <app-list></app-list>

      </div>
    </div>

    <div class="col-4 my-border">
      <h2>WHAT YOU SAVED HERE:</h2>

      <div id="my-entries">
        <app-entry></app-entry>

      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-12">
      <h2>TAKE A LOOK!</h2>
      <div id="screen">

      </div>
    </div>
  </div>
</div>