<!DOCTYPE html>
<h1 id="later" class="autocenter"> Later... </h1>
<div *ngIf="!sessionService.user">

  <app-login-form></app-login-form>

</div>

<div *ngIf="sessionService.user">

  <div class="row dashboard-main-content-wrapper" id="login">
    <div class="col-9 ">


    </div>

    <div class="col-2 ">
      <p>Welcome, {{sessionService.user.username}}</p>

    </div>
    <div class="col-1 ">
      <button (click)="sessionService.logout().subscribe()"> Logout </button>
    </div>


  </div>

  <div class="row dashboard-main-content-wrapper">
    <div class="col-5 my-border">
      <!--Cretate lists and entries-->

      <app-add-entry></app-add-entry>
      <app-add-list></app-add-list>

    </div>

    <div class="col-3 my-border">
      <h2 class="autocenter">YOUR LISTS</h2>


      <div id="my-lists" class="autocenter">

        <app-list></app-list>

      </div>
    </div>

    <div class="col-4 my-border">
      <h2 class="autocenter">WHAT YOU SAVED HERE:</h2>

      <div id="my-entries" class="autocenter">
        <app-entry></app-entry>

      </div>
    </div>
  </div>

  <h2 class="autocenter" id="takeALook">TAKE A LOOK!</h2>
  <div class="row">
    <div class="col-12">
      
      
 <!--        <div class="container" [ngSwitch]="entry.whichType">
            <div *ngSwitchCase="place"> <app-map></app-map> </div>
            <div *ngSwitchDefault> <app-screen></app-screen> </div>
          </div>  -->


      <!-- SCREEN -->
       <app-screen></app-screen>

      <!--GOOGLE MAP-->
       <app-map></app-map>

    </div>
  </div>
</div>