/*Elements*/



/*Classes*/

.my-border {
  border: 1px solid black;

}

.autocenter {
  margin-left: auto;
  margin-right: auto;
 
}

/*IDs*/

#later{
  background-color: red;
  color: white;
  width: 130px;
  border: 1px brown solid;
  border-radius: 15px;
}

#my-entries, #my-lists {
  height:300px;
  width: auto;
  overflow: scroll;
}

#screen {
  height:300px;
  width: auto;
}